.form-wrapper {
  margin-top: 4rem;
  text-align: center;
}

.form-control {
  text-align: center;
  max-width: 400px;
  width: 100%;
  background-color: #e7eaf69a !important;
  border: 1px solid #A2A8D3 !important;
}

.form-control:hover {
  border: 1px solid #38598B !important;
}

.footer {
  background-color: #38598B !important;
  color: rgba(255, 255, 255, 0.372);
}

.background-image {
  background-image: url('https: //plus.unsplash.com/premium_photo-1669991406391-aba0cd13a391?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  /* Adatta l'immagine alle dimensioni del contenitore */
  background-position: center;
  /* Posiziona l'immagine al centro */
  background-repeat: no-repeat;
  /* Evita la ripetizione dell'immagine */
  height: 100vh;
  /* Altezza del container, adattabile alle dimensioni del contenuto */
  display: flex;
  /* Per allineare il contenuto al centro */
  justify-content: center;
  /* Allinea il contenuto al centro */
  align-items: center;
}

.future-card {
  background-color: #38598B !important;
  width: 1000px;
  margin-inline: auto;
}

.single-fw {
  margin-inline: 20px;
}

.list-group {
  max-width: 400px;
  width: 100%;
}

.list-item {
  cursor: pointer;
  background-color: #e7eaf69a !important;
}

.icon-weather {
  width: 4rem;
}


.icon-svg {
  width: 1rem;
}

.custom-card {
  width: 8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  background-color: #38598B !important;
}


.list-item:hover {
  background-color: #A2A8D3 !important;
}

.navbar {
  background-color: #38598B;
}

.degrees {
  font-size: 3rem;
}

.container-forecast {
  background-color: #e7eaf69a;
  min-height: 100vh;
}

.text {
  color: #113F67;
}

@media (max-width: 767px) {
  .form-wrapper {
    margin-top: 2rem;
  }

  .list-item {
    padding: 10px;
  }


}